:root {
  --grey: #343436;
}
html {
  box-sizing: border-box;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;
  font-weight: normal;
  color: #272727;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

iframe {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  font-size: 1.5em;
}

.codepen {
  display: grid;
  /* header and footer take as much space as necessary the content will share the rest */
  grid-template-rows: auto 1fr 1fr auto;
  height: 100vh;
  color: white;
}

.codepen >* {
  /* just so the seperations are clear */
  border:1px solid black;
}


/* Editor! */
.code {
  display:grid;
  /* 3 identical boxes */
  grid-template-columns: repeat(3, 1fr);
  background: #1b2b34;
}

.editor {
  /* this is the part that says html css js, the titles will take up as much as necessary, code will take the rest */
  display: grid;
  grid-template-rows: auto 1fr;
}

.editor__header {
  display: grid;
  /* it goes like: settings title arrow  */
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 5px;
  grid-gap: 5px;
  background: rgba(0,0,0,0.1);
}

.editor__code {
  display: grid;
  /* textarea gets the rest of the space */
  grid-template-columns: auto 1fr;
}

.editor__number {
  display: block;
  padding: 0 10px;
}

/* in both row and column it's given 1fr so it will cover the rest and be big as big as it can be  */
.editor__input {
  resize: none;
  background: none;
  /* I added the border myself to make it more visible */
  border: 2px solid lime;
  color: grey;
  font-size: 16px;
  line-height: 19px;
}

/* Pen Header */

.pen {
  display: grid;
  grid-template-columns: 1fr;
  /* this is the reason why it pushes the rest of the content to the other side :*/
  grid-auto-flow: column;

  align-items: center;
  grid-gap: 10px;
  background: black;
  border-bottom: 5px solid var(--grey);
  color: white;
  padding: 10px;
}

.preview {
  display: grid;
}

/* Buttons */

/* normal button stuff */
.button {
  background: var(--grey);
  border: 0;
  color: white;
  padding: 10px;
  border-radius:5px;
  font-size: 15px;
  position: relative;
}

.button--small {
  font-size: 12px;
  padding: 4px;
}

/* creating the line here */
.button--dirty:before {
  background: #ffc600;
  display: block;
  content: '';
  height: 2px;
  width: calc(100% - 6px);
  position: absolute;
  left: 3px;
  top: 3px;
}


.settings {
  padding: 5px;
  background: black;
  border-top: 1px solid grey;
}

/* it seems very complex but with grid turns out it's not so complicated, I should look for more use cases for grid instead of flexbox in future projects */